:root {
  --black: hsl(338, 0%, 10%);
  --blackTransparent: hsla(338, 0%, 10%, 0);
  --blackHover: hsl(338, 0%, 0%);
  --white: hsl(338, 0%, 100%);
  --grey: hsl(338, 0%, 50%);
  --primary: #fff;
  --secondary: #fff;
  --heightMenu: 3em;
  --heightMenuMobile: 6em;
  --unit: 8em;
  --maxwidth: 1000px;
  --maxWidthGap: calc(1000px - 0.5rem);
  --project: calc(var(--maxwidth)/2 - 8rem);
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  min-height: 100vh;
}

@media (min-width: 992px) {
  html {
    min-height: var(--maxwidth);
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  width: 95%;
  min-height: 100vh;

}

@media (min-width:992px) {

  main {
    width: 100%;
  }

  main.column{
    max-width: var(--maxwidth);
  }

  main.row {
    flex-direction: row
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header,article,section {
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: clamp(16px,
    calc(16px + 8 * ((100vw - 320px) / 880)),
    24px);
}

h1 {
  font-size: clamp(2rem,
    calc(28px + 26 * ((100vw - 320px) / 880)),
    3.5rem);
}

h2 {
  font-size: clamp(1.75rem,
    calc(25px + 19.5 * ((100vw - 320px) / 880)),
    3rem);
}

h3 {
  font-size: clamp(1.5rem,
    calc(23px + 13 * ((100vw - 320px) / 880)),
    2.5rem);
}

h2 {
  font-weight: 500
}

p {
  margin: 0;
  padding: 0;
  font-weight: 300
}

b, strong {
  font-weight: 600
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
  list-style: none;
}

*, :after, :before {
  box-sizing: inherit;
}

a{
  text-decoration: none;
}

.inline {
  display: inline-block;
}

.desktop {
  display: none;
}

.mobile {
  display: flex;
}

.tabtodesktop {
  display: none;
}

.tabtomobile {
  display: flex;
}

@media (min-width: 992px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: none;
  }

  .tabtodesktop {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .tabtomobile {
    display: none;
  }

  .tabtodesktop {
    display: flex;
  }

  .desktop {
    display: flex;
  }
}
